 @import url("./estilo/header.css");
:root{
    --cor-defundo: #C58356;
    --cor-texto: #000;

}
body{
    background-color: var(--cor-defundo);
}
.cabecalho{
    background-color:aliceblue;
}

    
