@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.cabecalho{
    background-color:aliceblue;
    display: flex;
    align-items: center;
 
}
.container{
    position: relative;
}
.container-titulo{
    font-size: 80px;
    color: aliceblue;
    position:absolute;
    top: 15px;
    font-family: "Krona One", sans-serif;

}
.container--dois{
padding: 20px;

}


.container--tres{
    font-family: "Inter", sans-serif;
    font-size: 15px;
}