.container {
    background-image: url("../img[]/vista-da-xicara-de-cafe-com-espaco-para-texto\ 1.png");
    height: 1400px;
    background-repeat: no-repeat;
    background-size: cover;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container--img{
   width:70%;
   height:50%;
   font-family: "Istok Web", sans-serif;
   font-weight: 400;
   font-size: 50%;
    
}
.container--tres{
    -cor-defundo: #C58356;
        --cor-texto: #000;
    
    }
.container--tres--img{
    width:500px;
    align-items: center;
}